[package]
authors = ["Thomas Brigham <thomas@thomasbrigham.me>"]
categories = [
    "data-structures",
    "parser-implementations"
]
description = "A library to generate and parse Postgres money types."
edition = "2018"
keywords = [
    "money",
    "currency",
    "cash"
]
license-file = "LICENSE"
homepage = "https://github.com/tkbrigham/postgres_money"
name = "postgres_money"
readme = "README.md"
repository = "https://github.com/tkbrigham/postgres_money"
version = "0.2.0"

[package.metadata.docs.rs]
features = ["serde"]

[package.metadata.playground]
features = ["serde"]

[dependencies.regex]
version = "1"

[dependencies.serde]
default-features = false
features = [ "serde_derive" ]
optional = true
version = "1.0.106"
